body {
  background-color: var(--color-dark-blue);
}

nav {
  background-color: var(--color-semi-dark-blue);
  display: flex;
  justify-content: space-between;
  height: 3.5rem;
}

.nav-logo {
  width: 1.5625rem;
  height: 1.25rem;
}

.mid-nav {
  display: flex;
}

.avatar img {
  width: 1.5rem;
  height: 1.5rem;
}