body {
    background-color: #10141e;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-form {
    background-color: #161d2f;
    font-family: var(--font-outfit);
    margin-left: 24px;
    margin-right: 24px;
    padding: 24px;
}

h1.login-header {
    color: var(--color-pure-white);
    font-family: var(--font-outfit);
    font-size: var(--heading-L-size);
    font-weight: var(--heading-L-weight);
}

.login-form input {
    background: none;
    border: none;
    border-bottom: 1px var(--color-greyish-blue) solid;
}