body {
  background-color: var(--color-dark-blue);
}

.logo {
  display: block;
  margin: 3rem auto;
}

.signup-form {
  background-color: var(--color-semi-dark-blue);
  font-family: var(--font-outfit);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding: 1.5rem;
  border-radius: 0.625rem;
}

h1.signup-header {
  color: var(--color-pure-white);
  font-family: var(--font-outfit);
  font-size: var(--heading-L-size);
  font-weight: var(--heading-L-weight);
}

.signup-form input {
  display: block;
  background: none;
  border: none;
  border-bottom: 1px var(--color-greyish-blue) solid;
  width: 100%;
  height: 2.5rem;
  color: var(--color-pure-white);
  font-family: var(--font-outfit);
  font-size: var(--body-M-size);
  padding: 1rem;
  box-sizing: border-box;
}